services:
  store-app:
    image: store-app
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Store=Server=host.docker.internal;Database=store;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=true
    ports:
      - "8080:8080"
    networks:
      - internal_network
    depends_on:
      - db
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: unless-stopped
    environment:
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge
